body {
  margin: 0;
  padding: 0;
  background-color: #e9ebee;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 42px;
  background-color: #4267c1;
}

.container {
  display: flex;
  margin-top: 52px;
  padding: 0 10px;
}

.sidebar {
  width: 180px;
}

.sidebar-menu {
  margin-bottom: 20px;
}

.sidebar-menu-item {
  display: block;
  padding: 4px;
  text-decoration: none;
  color: #000;
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yI/r/h9h0y4GV6z5.png");
}

.sidebar-menu-item.active {
  font-weight: bold;
}

.content {
  flex-grow: 1;
}

.friendSuggestions {
  height: 100vh;
  width: 244px;
  background-color: #fff;
  border: 1px solid #dddfe2;
  border-radius: 3px;
}
