.small {
  font-size: 10px;
}

.medium {
  font-size: 14px;
}

.large {
  font-size: 18px;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.small,
.medium,
.large {
  text-decoration: underline;
  font-size: 30px;
}
